.z-modal .modal-mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: rgb(0, 0, 0);
	opacity: 0.8;
}
.z-modal {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	overflow: auto;
	opacity: 1;
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.z-modal .modal-wrapper {
	padding-bottom: 50px;
}
.z-modal .modal-outer-wrapper {
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
}
.z-modal .modal-inner-wrapper {
	padding-top: 60px;
	padding-bottom: 60px;
	display: table-cell;
	width: 100%;
	height: 100%;
	position: relative;
	vertical-align: middle;
	text-align: center;
	padding: 80px 25px;
}
.z-modal .modal-wrapper {
	position: relative;
	display: inline-block;
	width: 100%;
	margin: auto;
	text-align: left;
	color: #000;
	z-index: 1000;
	max-width: 1000px;
	border-radius: 0px;
	background: #fff;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	cursor: auto;
}

.z-modal .modal-close {
	position: absolute;
	top: 10px;
	right: 20px;
	padding: 0;
	background: 0 0;
	border: none;
	outline: 0;
	cursor: pointer;
	font-size: 26px;
}

.z-modal .modal-btns {
	padding: 10px 20px 20px;
	text-align: right;
	box-sizing: border-box;

	display: table;
	table-layout: fixed;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;


	text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
	/* border-top: 1px solid #dcdcdc; */
}
.z-modal .modal-btns .btn:focus,
.z-modal .modal-btns .btn:hover {
	color: #409eff;
	border-color: #c6e2ff;
	background-color: #ecf5ff;
}
.z-modal .modal-btns .btn {
	display: inline-block;
	line-height: 1;
	white-space: nowrap;
	cursor: pointer;
	background: #fff;
	border: 1px solid #dcdfe6;
	color: #606266;
	-webkit-appearance: none;
	text-align: center;
	box-sizing: border-box;
	outline: 0;
	margin: 0;
	transition: .1s;
	font-weight: 500;
	padding: 7px 15px;
	font-size: 12px;
	border-radius: 3px;
}
.z-modal .modal-btns .btn:last-child:focus,
.z-modal .modal-btns .btn:last-child:hover {
	background: #66b1ff;
	border-color: #66b1ff;
	color: #fff;
}

.z-modal .modal-btns .btn:last-child {
	color: #fff;
	background-color: #409eff;
    border-color: #409eff;
    
}

.z-modal .modal-header {
	padding: 15px 15px 10px !important;
	background: #4db3ff;
	color: #fff;
	font-size: 14px;
	line-height: 24px;
}

.z-modal .modal-content {
	padding: 30px 20px;
	color: #606266;
	font-size: 14px;
	word-break: break-all;
}
